body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar content";
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: grid;
    grid-area: sidebar;
    grid-template-columns: 1fr 3fr;
    row-gap: 20px;
    align-items: center;
    background-color: #1993D3;
    grid-row: 1 / end;
    align-content: start;
}

.navText {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navIcon {
    justify-self: center;
    filter: invert(100%);
}

.dashboard {
    margin-top: 20px;
    margin-bottom: 40px;
}

.community {
    margin-bottom: 50px;
}

.dashboardText {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    display: grid;
    grid-column: 2 / end;
    grid-template-columns: 7fr 4fr;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 0px;
    z-index: 1;
    grid-area: header;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.searchContainer input {
    border-radius: 18px;
    border: none;
    background-color: #E2E8F0;
    flex: 1;
    height: 1.8rem;
}

.headerTopRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.portrait {
    clip-path: circle();
}

.headerTopRight span {
    font-weight: bold;
}

.headerBottomLeft img{
    clip-path: circle();
}

.headerBottomLeft {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.headerBottomLeft div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.headerBottomLeft h2 {
    margin-top: 7px;
}

.headerBottomLeft span {
    font-weight: bold;
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.headerButton button {
    background-color: #1993D3;
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 100px;
    border-radius: 18px;
}

main {
    display: grid;
    grid-template-columns: 10fr 3fr;
    background-color: #E2E8F0;
    padding: 20px;
    grid-area: content;
}

.contentRight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.trendingContainer, .announcementsContainer{
    background-color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    display: grid;
}

.announcementsContainer p {
    font-size: 0.8rem;
    margin-top: 3px;
    color: #636363;
}

.announcementsContainer h4 {
    margin-bottom: 1px;
    margin-top: 10px;
}

.contentRightHeading {
    margin-bottom: 10px;
}

.trendingDescription {
    display: grid;
    grid-template-columns: 1fr;
}

.trendingContainer {
    gap: 15px;
}

.trendingDetail {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "icon title"
                         "icon description";
    column-gap: 10px;
}

.trendingIcon {
    grid-area: icon;
    justify-self: center;
}

.trendingTitle {
    grid-area: title;
    align-self: end;
    font-weight: bold;
}

.trendingText {
    grid-area: description;
    font-size: 0.9rem;
    color: #636363;
    font-style: italic;
}